:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  padding: 2px;
  border: red solid 3px;
  border-radius: 8px;
  padding: 5px;
}

.list {
  border: 0px;
}

.meio {
  padding: 2em; 
  height: 300px;
  width: 500px;
  border: red solid 3px;
  align-items: center ;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 3px solid red;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

body,
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  display: flex;
}

li > p {
  margin-left: 4px;
}
li > button {
  padding: 2px;
  margin-left: 8px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  border-radius: 8px;
  border-color: red;
  box-sizing: border-box;
  padding: 1em;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
